{% extends 'social/layout.html' %}
{% load humanize %}

{% block content %}
<br><br>
<h1 style="margin-left: 35px;">Mis descubrimientos </h1>
  {% for post in favorites %}
    {% if post in request.user.profile.favorites.all %}
      <article>
        <div class="container-article">
          <img src="{{post.user.profile.image.url}}">
          <div>
            <a href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a>
            <i class="clock"></i>
            <time data-time="#">{{post.timestamp|naturaltime}}</time>
            <h2>{{ post.post_title }}</h2>
            {% if post.picture %}
              <img src="{{ post.picture.url }}" alt="Imagen del post" style="border-radius: 0%; width: 300px; height: 200px;">
            {% endif %}
            <div class="post">Resumen: {{post.key_result}}</div>
            <details>
              <summary class="toggle-content">Detalle de la obra</summary>
              <div class="content">
                {{ post.content }}
              </div>
            </details>
            <br>
            <div>
              <form method="post" action="{% url 'unlike_post' post.id %}">
                {% csrf_token %}
                <button type="submit" style="margin-left: 70px;">Eliminar de mis descubrimientos</button>
              </form>
            </div>
          </div>
        </div>
      </article>
    {% endif %}
  {% endfor %}
{% endblock %}
