{% extends 'social/layout.html' %}
{% load humanize %}
{% load static %}

{% block content %}
  {% for post in posts %}
    <article>
      <div class="container-article">
        <img src="{{post.user.profile.image.url}}">
        <div>
          <a href="{% url 'profile' post.user.username %}">@{{ post.user.username }}</a>
          <i class="clock"></i>
          <time data-time="#">{{post.timestamp|naturaltime}}</time>
          
          {% if post.user == request.user %}
            <a href="{% url 'delete_post' post.id %}" style="float: right; margin-left: 30px; color: #EF63A9;">Eliminar post</a>
            <a href="{% url 'edit_post' post.id %}" style="float: right; margin-left: 230px; color: #EF63A9;">Editar post</a>
          
          {% endif %}
          
          <h2>{{ post.post_title }}</h2>
          {% if post.picture %}
            <img src="{{ post.picture.url }}" alt="Imagen del post" style="border-radius: 0%; width: 300px; height: 200px;">
          {% endif %}
          <br><br>
          <div class="post">Resumen: {{post.key_result}}</div>
          <details>
            <summary class="toggle-content">Detalle de la obra</summary>
            <div class="content">
              {{ post.content }}
            </div>

          </details>

            {% if request.user.extendeddata.user_type == 'S' %}
              {% if request.user != post.user %}
                {% if post.user_liked %}
                  <form method="post" action="{% url 'unlike_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit">Eliminar de mis descubrimientos</button>
                  </form>
                {% else %}
                  <form method="post" action="{% url 'like_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit" style="margin-right: 10px;">Agregar a mis descubrimientos</button>
                  </form>
                {% endif %}
              {% endif %}
            {% endif %}
            
            {% with likes=post.likes.all %}
            <p>
              <a href="{% url 'likes_list' post.id %}">
                <img src="{% static 'as.png' %}" alt="Corazón" style="width: 40px; height: 40px; vertical-align: middle;"> 
                <span style="vertical-align: middle; margin-top: -2px;">{{ likes|length }} {% if likes|length == 1 %}Artix{% else %}Artix{% endif %} Lover</span> 
              </a>
            </p>
            {% endwith %}
          
          
          
          
        </div>
      </div>
    </article>
  {% endfor %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
