{% extends 'social/feed.html' %}
{% block content %}

<!-- Profile -->
<div class="profile">
	<img src="{{user.profile.image.url}}">
	<h2>@{{user.username}}</h2>
</div>

<!-- Followers -->
<h5 style="margin-left: 20px;">Sponsors Interesados</h5>
<div class="follow">
	{% for follower in followers %}
		<div class="follower" style="display: flex; align-items: center;">
            
			<img src="{{follower.profile.image.url}}" style="border-radius: 50%; width: 50px; height: 50px; margin-right: 10px;">
			<div>
				<a href="{% url 'profile' follower.username %}">@{{follower.username}}</a>
			</div>
		</div>
	{% endfor %}
</div>

{{ block.super }}
{% endblock %}