{% extends 'social/layout.html' %}
{% load humanize %}
{% load static %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'social/css/style.css' %}">
  <br><br>
  <h2 style="text-align: center;">Admiradores que han mostrado aprecio en esta obra</h2>

  <div class="profile-grid">
    {% for like in likes %}
      <div >
        <img class="img.profile" src="{{ like.profile.image.url }}" alt="{{ like.username }}" style="border-radius: 50%; width: 50px; height: 50px; margin-left: 10px;vertical-align: middle">
        <a href="{% url 'profile' like.username %}" style="vertical-align: middle;">@{{ like.username }}</a>
      </div>
     {% endfor %}
  
  </div>
{% endblock %}
