*,*:before,*:after{box-sizing:border-box}

    body{
      min-height:100vh;
      font-family: 'Raleway', sans-serif;
    }
    
    .container{
      position:absolute;
      width:100%;
      height:110%;
      overflow:hidden;
      
      &:hover,&:active{
        .top, .bottom{
          &:before, &:after{
            margin-left: 200px;
            transform-origin: -200px 50%;
            transition-delay:0s;
          }
        }
        
        .center{
          opacity:1;
          transition-delay:0.2s;
          
        }
      }
    }
    
    .top, .bottom{
      &:before, &:after{
        content:'';
        display:block;
        position:absolute;
        width:200vmax;
        height:200vmax;
        top:50%;left:50%;
        margin-top:-100vmax;
        transform-origin: 0 50%;
        transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
        z-index:10;
        opacity:0.65;
        transition-delay:0.2s;
      }
    }
    
    .top{
      &:before{transform:rotate(45deg);background:#e46569;}
      &:after{transform:rotate(135deg);background:#ecaf81;}
    }
    
    .bottom{
      &:before{transform:rotate(-45deg);background:#60b8d4;}
      &:after{transform:rotate(-135deg);background:#3745b5;}
    }
    
    .center{
      position:absolute;
      width:400px;
      height:400px;
      top:50%;left:50%;
      margin-left:-200px;
      margin-top:-180px;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding:30px;
      opacity:0;
      transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
      transition-delay:0s;
      color:#333;
      
      input{
        width:100%;
        padding:15px;
        margin:5px;
        border-radius:1px;
        border:1px solid #cccccc;
        font-family:inherit;
      }

    }
    button#submit {
        display: block;
        margin: 0 auto;
        background-color: #FF4081; /* Cambia el color del botón a rosa */
        color: #FFFFFF; /* Cambia el color del texto a blanco */
        border: none; /* Quita el borde del botón */
        padding: 10px 20px; /* Ajusta el espaciado interno del botón */
    }
    .notification {
        text-align: center;
        padding: 10px 20px;
        border-radius: 4px;
        color: #f8f8f8;
        font-size: 0.9rem;
        background-color: #b2e0ef; /* Añade el color de fondo azul que desees aquí */
      }
      
      
      
      
      
      
      
.success {
  background: #43DC7E;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.error {
    background: #AB3444;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
  }
/* Article */

article{
	width: 93%;
	margin: auto;
	padding: 40px 0;
	border-bottom: 2px solid #77a7c0;
}

.username{
	margin-bottom: .2rem;
}

.username a{
	font-size: 1.1rem;
}

.container-article{
  display: flex;
}

.container-article img{
  height: 68px;
  width: 68px;
  margin-right: 10px;
  border-radius: 50%;
}

article:last-child {
  border-bottom: 0;
}

time {
  font-size: .8rem;
  opacity: .7;
}

.post{
	font-size: .94rem;
}